/* Navigation and Footer Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

/* Header */
header {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

/* Navigation Styles */
nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 20px 0;
}

nav ul li {
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

/* Dropdown Menu */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #4DA6FF;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #66FF66;
}

/* Show dropdown content on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change color of dropdown link when hovering */
.dropdown:hover a {
    background-color: #66FF66;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}
